
<div class="formpic img-responsive">
<%= render 'layouts/header' %>
	<div class="signuplog-form">
		<p class="center">Enter Username:
		</p>

    
    	<%= form_tag '/send_reset', :method=>'post' do %>
		<p class="center">
     	<% label_tag :username %>
      <%= text_field_tag :username %>
      <br>
      <br>
     	<%= submit_tag "Reset Password", class: "btn" %>
    
    </p>
    <% end %>
  </div>
</div>

