
	<div class="page-container-full" id="welcome-wrapper">
		<div id="welcome-container">

			<div>
			<div id= "header" class="page-container bored-header clearfix shift-with-hiw">
				<a href="/" class="header-logo pull-left"><img src="/assets/clock2.png"></a>
				
				<ul class="nav pull-right logged-out list-unstyled medium-right-margin">
					<% if session[:user_id] == nil %>
					<li id="sign_up" class="pull-left medium-right-margin"> 
						<a href="/signup" class="indexpage">Sign Up</a>
					</li>
					<li id="login" class="pull-left"> 
						<a href="/login" class="indexpage">Login</a>
					</li>
					<% else %>
					<li id="login" class="pull-left"> 
						<a href="/logout" class="indexpage">Logout</a>
					</li>
				<% end %>
				</ul>
				
			</div>
		</div>
<!-- 	</div> -->
<!-- 	</div> -->
	


			<div class="row row-table row-full-height text-center">
					<!-- ::before -->
					<div class="col-12 col-middle">

						<div class="timetospare">time to spare:</div>
						<!-- <div class="timeinput">0d 0h 0m</div> -->
								<form action="/activities" method="GET" class="time_form">
      							<input class="time" type="integer" name="days" placeholder="0"><label class="marker" for="d">d</label>
      							<input class="time" type="integer" name="hours" placeholder="0"><label class="marker" for="h">h</label>
      							<input class="time" type="integer" name="minutes" placeholder="0"><label class="marker" for="m">m</label>
      							<br><input class="submit" type="submit" value="discover">
    						</form>

						<!-- <img id="image" src="home2.jpg"> -->
					</div>
			</div>
		</div>
	</div>



	<div class="page-container-full" id="discovery-container"> 
		<div class="page-container page-container-fixed">
			<div class="discovery-section" id="for-the-day">
				<div class="section-intro text-center row-space-5 row-space-top-8">
					<p class="timedescription">creative solutions to boredom</p>
					<p class="whatfor">discover new ways to spend an idyllic hour, afternoon or weekend</p>
				</div>
			<div class="discovery-tiles row-space-top-6 row-space-6">
				<div class="homepage-module">
					<div class="carousel-item row">
					<div class="col-1">
						<div class="col-3">
							<!-- <div class="panel"> -->
								<a href="">
								<img src="/assets/lake.jpg">
								<div class="row row-table row-full-height">
									<div class="panel-body">
										<!-- <span class="what">Lakeside</span> -->
									</div>
								</div>
							</div>
						</div>
						<div class="col-1">
						<div class="col-3">
							<!-- <div class="panel"> -->
								<a href="">
								<img src="/assets/flowers.jpg">
								<div class="row row-table row-full-height">
									<div class="panel-body">
										<!-- <span class="what">Lakeside</span> -->
									</div>
								</div>
							</div>
						</div>

					<div class="col-1">
						<div class="col-3">
							<!-- <div class="panel"> -->
								<!-- <a href=""> -->
								<img src="/assets/canoe.jpg">
								<div class="row row-table row-full-height">
									<div class="panel-body">
										<!-- <span class="what">Lakeside</span> -->
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			</div>
		</div>
	</div>



	<div class="page-container-full" id="discovery-container-gray"> 
		<div class="page-container page-container-fixed">
			<div class="discovery-section" id="for-the-day">
				<div class="section-intro text-center row-space-5 row-space-top-8">
					<p class="suggestors">become a curator</p>
					<p class="whatfor">create engaging activities and a community of friends and followers</p>
				</div>
			<div class="discovery-tiles row-space-top-6 row-space-6">
				<div class="homepage-module">
					<div class="carousel-item row">
						
						<div class="col-6">
								<a href="">
								<img class="imageprofile" src="/assets/girl.png">
								<img class="image" src="/assets/inthewoodsdark.jpg">
								<span class="what2">Mel's Woodland Hike</span>
						</div>
						
						<div class="col-6">
								<a href="">
								<img class="imageprofile2" src="/assets/boy.png">
								<img class="image" src="/assets/teadark.jpg">
								<span class="what3">Peter's Books & Tea Cafe</span>
						</div>
				
				<!-- <div class="row">
						<div class="col-12">
								<a href="">
								<img src="twitter.png">				
						</div>
				</div> -->
		</div>
	</div>
	</div>
	</div>
	</div>
</div>

		<div class="page-container-full" id="discovery-container"> 
		<div class="page-container page-container-fixed">
			<div class="discovery-section" id="for-the-day">
				<div class="section-intro text-center row-space-5 row-space-top-8">
					<p class="timedescription2">join us on</p>
				</div>
			<div class="discovery-tiles row-space-top-6 row-space-6">
				<div class="homepage-module">
					<div class="carousel-item row">
				
						<div class="col-12 socialicons">
							<!-- <div class="panel"> -->
								<a href="">
								<img class="social" src="/assets/twitter.png">
								<img class="social" src="/assets/facebook.png">
								<div class="row row-table row-full-height">
									<div class="panel-body">
										<!-- <span class="what">Lakeside</span> -->
									</div>
								</div>
							</div>
						</div>
				

					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

