<div class="jcarousel-page-wrapper">
	<div class="jcarousel-wrapper">
		<div class="jcarousel">
		    <ul>
		        <% for activity in @activity_list %>
		        	<li>
					<% if activity.title != nil %>
						<div class="title"><%= activity.title %>
						<h1>Test</h1>
						</div>
					<% end %>
					<% if activity.description != nil %>
						<div class="description">Test<%= activity.description %></div>
					<% end %>
				
					</li>
		        <% end %>
		    </ul>
		</div>

		<!-- Prev/next controls -->
		<a href="#" class="control-prev">&lsaquo; </a>
		<a href="#" class="control-next"> &rsaquo;</a>

		<!-- Pagination -->
		<p class="jcarousel-pagination">
		    <!-- Pagination items will be generated in here -->
		</p>
	</div>	
</div>
