// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

// *{
// 	font-family: 'Quicksand', sans-serif;
// }

.center {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 18px;
	color: white;

}

.formpic {
	position: absolute;
	background-image: url(fourcanoes.jpg);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	top: 0;
	width:100%;
	height:800px;
}

// .signup-box {
// 	position: fixed;
// 	top: 100px;
// 	left: 30%;
// 	width: 400px;
// 	height: 220px;
// 	background-color: transparent
// }
.signuplog-form {
	position: relative;
	top: 140px;
}
.signuplog-form a {
	color: white;
}
.btn-clear {
	background-color: rgba(0,0,0,.01);
	color: white;
	border: 1px solid white;
	font-size: 16px;
}
.btn-clear:hover {
	color: white;
	background-color: rgba(0,0,0,.1)
}