// Place all the styles related to the activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

@import '//fonts.googleapis.com/css?family=Lato:400,400italic|Arvo:700,400,400italic';

// body {
//     margin: 0;
//     padding: 0;
//     background-color: rgba(0,0,0,.2);
// }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

h1 {
    color: black;
    font-size: 36px;
    font-weight: bold;
}

h2, h2 a {
    color: #F14E32;
}

h3, h3 a {
  color: #0388A6;
}

// pre {
//   border:1px solid #000;
//   overflow-x:auto;
//   background: #222;
//   color: #fff;
//   text-shadow: none;
// }

.jcarousel-page-wrapper {
    width: 100%;
    height: 100%;
    padding: 10px 10px  10px 10px;
    margin: auto;
}


.jcarousel-wrapper {
    margin: 10px auto;
    position: relative;
    // border: 1px solid rgba(0,0,0,.2);
    // -webkit-border-radius: 1px;
    //    -moz-border-radius: 1px;
    //         border-radius: 1px;
    // -webkit-box-shadow: 0 0 2px #999;
    //    -moz-box-shadow: 0 0 2px #999;
    //         box-shadow: 0 0 2px #999;
}


// .jcarousel-wrapper .photo-credits {
//     position: absolute;
//     right: 15px;
//     bottom: 0;
//     font-size: 13px;
//     color: #fff;
//     text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
//     opacity: .66;
// }

// .jcarousel-wrapper .photo-credits a {
//     color: #fff;
// }

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 700px;
}

// .jcarousel ul {
//     width: 100%;
//     position: relative;
//     list-style: none;
//     margin: 0;
//     padding: 0;
// }

// .jcarousel li {
//     float: left;
//     width: 50px;
//     padding: 5px;
// }

/** Carousel Controls **/

.control-prev,
.control-next {
    position: absolute;
    top: 40%;
    // bottom: 150%;
    width: 30px;
    height: 30px;
    // text-align: center;
    background: transparent;
    color: rgba(0,0,0,.6);
    text-decoration: none;
    font: 100px 'Quicksand', sans-serif;
    // -webkit-border-radius: 30px;
    //    -moz-border-radius: 30px;
    //         border-radius: 30px;
    // -webkit-box-shadow: 0 0 2px #999;
    //    -moz-box-shadow: 0 0 2px #999;
    //         box-shadow: 0 0 2px #999;
}

.control-prev {
    left: -10px;
}

.control-next {
    right: -10px;
}

.control-prev:hover span,
.control-next:hover span {
    color: rgba (0,0,0,.8);
    text-decoration: none;
}

// .control-prev.inactive,
// .control-next.inactive {
//     opacity: .5;

// }

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 0;
    left: 15px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: #fff;
    color: #4E443C;
    border-radius: 14px;
    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

// .jcarousel-pagination a.active {
//     background: #4E443C;
//     color: #fff;
//     opacity: 1;
//     text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
// }