

<div>
	<div id= "header" class="page-container bored-header clearfix shift-with-hiw">
			<a href="/home/index" class="header-logo pull-left"> <img src="/assets/clock2.png"></a>
		<ul class="nav pull-right logged-out list-unstyled medium-right-margin">

		</ul>
	</div>
</div>